<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alunos</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/save/0" class="btn btn-primary">Adicionar</a>
		</div>
		<h2 th:if="${list.isEmpty()}">Não tem alunos</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Alunos</h2>
			
			<table class="table">
				<thead>
					<tr>
						<th>NOME</th>
						<th>CPF</th>
						<th>Data de Nascimento</th>
						<th>Sexo</th>
						<th>Email</th>
						<th>Maior de idade</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${list}">
						<td th:text="${aluno.NOME}">
						<td th:text="${aluno.CPF}">
						<td th:text="${aluno.DATA_NASCIMENTO}">
						<td th:text="${aluno.SEXO}">
						<td th:text="${aluno.EMAIL}">
						<td th:text="${aluno.MAIOR_IDADE}">
						<td><a class="btn btn-info" th:href="@{/save/{id}(id=${aluno.ID})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${aluno.ID})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>