<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Personas</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
	
<link href="../static/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" rel="stylesheet"
	th:href="@{/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}" />
	
<link th:rel="stylesheet" th:href="@{../static/fontawesome-free-5.15.1-web/css/all.css} "/>
</head>
<body>
	<div class="container">
		<br>
		<h2>Adicionar aluno</h2>
		<form action="#" th:action="@{/save}" th:object="${aluno}"
			method="post">
			<div class="form-group">
				<label for="NOME">NOME</label> <input type="text"
					class="form-control" id="NOME" th:field="*{NOME}" name="NOME">
			</div>
			<input type="hidden" th:field="*{ID}" name="ID" id="ID">
			
			<div class="form-group">
				<label for="NOME">CPF</label> <input type="text"
					class="form-control" id="CPF" th:field="*{CPF}"
					name="CPF">
			</div>

			<!--<div class="form-group">
				<label for="NOME">DATA de NASCIMENTO</label> <input type="text"
					class="form-control datetimepicker-input" id="DATA_NASCIMENTO" th:field="*{DATA_NASCIMENTO}"
					name="DATA_NASCIMENTO">
			</div>-->
			
			<div class="form-group">
                    <label for="date">Date:</label>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                               th:field="*{DATA_NASCIMENTO}" id="DATA_NASCIMENTO" placeholder="DATA_NASCIMENTO"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
             </div>

			<div class="form-group">
				<label for="NOME">SEXO</label> <input type="text"
					class="form-control" id="SEXO" th:field="*{SEXO}"
					name="SEXO">
			</div>
			<div class="form-group">
				<label for="NOME">EMAIL</label> <input type="text"
					class="form-control" id="EMAIL" th:field="*{EMAIL}"
					name="EMAIL">
			</div>
			<input type="hidden" th:field="*{DATA_CRIACAO}" name="DATA_CRIACAO" id="DATA_CRIACAO">
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>

<script th:src="@{../static/moment/moment.min.js}"></script>
<script th:src="@{../static/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'far fa-calendar-check-o',
            clear: 'far fa-trash',
            close: 'far fa-times'
        } });

    $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY h:mm A'
    });
</script>
</body>
</html>